body {
	margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #0C213B;
}

.window {
    width: 120%;
}

.firstline {
    padding: 10px 100px;
	background-color: #EA1717;
}

.gymnastic, .football, .dance {
	height: 100px;
	padding: 10px;
	width: 33.33%;
    float: left; 
    box-sizing: border-box;
}

.gymnastic {       
	background-color: #7FFF00;
}

.football {
	background-color: #A9E2CC;
}

.dance {
	background-color: #FF1493;
}
   
.invis:after {
    content: ".";
    display: block;
	height: 0;
    clear: both;
    visibility: hidden;
}

.last {
    background-color: #1750EA;
	box-sizing: border-box;
    text-align: center;
    padding: 10px;
	width: 100%;
}
   
