body {
	margin: 0px;
}

table {
    width: 120%;
    border-collapse: collapse; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #0C213B;
}

td {
	vertical-align: top; 
	padding: 10px;
}

.firstline {
	padding: 10px 100px;
	background-color: #EA1717;
}

.secondtr {
	height: 100px;
}

.gymnastic, .football, .dance {
	width: 33.33%;
}

.gymnastic {
	background-color: #7FFF00;
}

.football {
	background-color: #A9E2CC;
}

.dance {
	background-color: #FF1493;
}

.last {
	background-color: #1750EA;
	text-align: center;
}

